@import "tailwindcss"; 



body{

    color: white;
    background-image: linear-gradient(to right, #62393c,#181e41);
}

.linkSpace a{

    margin-right: 25px

}

.homeDiv img{

    max-width: 450px;
    margin-inline: auto;
    border-radius: 25rem;
    margin-left: 30px;
}


