@import url('https://fonts.googleapis.com/css2?family=Oi&family=Rubik+Bubbles&display=swap');
@import "tailwindcss";
@plugin "daisyui";

html{
  scroll-behavior: smooth;
}

.imgAbout{

  border-radius: 25rem;
  background-color: rgb(27, 27, 27);
  border:none;
  box-shadow: 0 0 5px orange, 0 0 10px orangered, 0 0 20px orangered;
  transition: width 0.3s ease;
  
}

.mainText{

  color: orangered;

}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.contactButton a{
  background-color: rgb(255, 111, 0);
  border: none;
  border-radius: 16px;
  padding: 15px 30px;
  font-weight: 500;
  color: white;
  box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;
  transition: box-shadow 0.3s ease;
}

.contactButton a:hover{

    box-shadow: 0 0 10px orange,
              0 0 20px orange,
              0 0 30px orangered,
              0 0 40px orangered;
   
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-top: 15px solid white;        
  margin: 40px auto;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

.iconShadowRed {
  box-shadow: 0px 0px 10px rgb(200, 0, 0), 0px 0px 20px red, 0px 0px 25px crimson;
  transition: box-shadow 0.3s ease;
}
.iconShadowRed:hover {
  box-shadow: 0px 0px 15px rgb(200, 0, 0), 0px 0px 25px red, 0px 0px 30px crimson;
}


.iconShadowOrange {
  box-shadow: 0px 0px 10px rgb(189, 50, 0), 0px 0px 20px orangered, 0px 0px 25px orange;
  transition: box-shadow 0.3s ease;
}
.iconShadowOrange:hover {
  box-shadow: 0px 0px 15px rgb(189, 50, 0), 0px 0px 25px orangered, 0px 0px 30px orange;
}


.iconShadowYellow {
  box-shadow: 0px 0px 10px rgb(200, 180, 0), 0px 0px 20px gold, 0px 0px 25px yellow;
  transition: box-shadow 0.3s ease;
}
.iconShadowYellow:hover {
  box-shadow: 0px 0px 15px rgb(200, 180, 0), 0px 0px 25px gold, 0px 0px 30px yellow;
}


.iconShadowGreen {
  box-shadow: 0px 0px 10px rgb(0, 200, 0), 0px 0px 20px limegreen, 0px 0px 25px green;
  transition: box-shadow 0.3s ease;
}
.iconShadowGreen:hover {
  box-shadow: 0px 0px 15px rgb(0, 200, 0), 0px 0px 25px limegreen, 0px 0px 30px green;
}


.iconShadowBlue {
  box-shadow: 0px 0px 10px rgb(1, 196, 255), 0px 0px 20px rgb(0, 132, 255), 0px 0px 25px rgb(0, 132, 255);
  transition: box-shadow 0.3s ease;
}
.iconShadowBlue:hover {
  box-shadow: 0px 0px 15px rgb(1, 196, 255), 0px 0px 25px rgb(0, 132, 255), 0px 0px 30px rgb(0, 132, 255);
}


.iconShadowPurple {
  box-shadow: 0px 0px 10px rgb(128, 0, 200), 0px 0px 20px purple, 0px 0px 25px violet;
  transition: box-shadow 0.3s ease;
}
.iconShadowPurple:hover {
  box-shadow: 0px 0px 15px rgb(128, 0, 200), 0px 0px 25px purple, 0px 0px 30px violet;
}


.iconShadowPink {
  box-shadow: 0px 0px 10px rgb(200, 0, 100), 0px 0px 20px deeppink, 0px 0px 25px hotpink;
  transition: box-shadow 0.3s ease;
}
.iconShadowPink:hover {
  box-shadow: 0px 0px 15px rgb(200, 0, 100), 0px 0px 25px deeppink, 0px 0px 30px hotpink;
}


.iconShadowGray {
  box-shadow: 0px 0px 10px rgb(120, 120, 120), 0px 0px 20px gray, 0px 0px 25px lightgray;
  transition: box-shadow 0.3s ease;
}
.iconShadowGray:hover {
  box-shadow: 0px 0px 15px rgb(120, 120, 120), 0px 0px 25px gray, 0px 0px 30px lightgray;
}

.waveFix{

  outline: none;
  border: none;
  margin-bottom: -1px;
}

.divServOver{

  box-shadow: 0 0 10px orangered, 0 0 15px orangered, 0 0 20px orange;
}

.iconHover{
  
  transition: box-shadow 0.5s ease;
}

.iconHover:hover{

  box-shadow: 0 0 3px white, 0 0 4px white, 0 0 5px white;
}